*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

html , body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(109, 223, 109);
}

#panel{
    overflow: hidden;
    width: 70%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;

}

#ptop{
    padding: 0 30%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 70px;
    background-color: rgb(26, 75, 50);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    padding: 5px 10px;
    background: #fff;
    border-radius: 5px ;
    color: rgb(16, 88, 18);
    font-weight: 600;
    font-size: 22px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px;
    width: 100%;
    height: calc(100% - 70px);
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(42, 102, 51);
    color: #fff;
    border-radius: 50%;
}

.bubble:hover{
    background-color: rgb(11, 64, 11);
    cursor: pointer;
}